.home, .contact {

    width: 100%;
    height: 100vh;
  background-image: url('https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=1060');}

  .about
  {
    width: 100%;
    height: 100vh; 
    background-color: rgb(238, 237, 237)
  }

  .portfolio{
    width: 100%;
    background-color: rgb(238, 237, 237)
  }


  .port {
    height: 250px;
    width: 350px;
  }

  #photos {
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;  
  }
  
  #photos img {
    /* Just in case there are inline attributes */
    width: 80% !important;
    height: auto !important;
  }
  
/* 
  .circular--landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
  } */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

  circle-shape-example { 
    font-family: Open Sans, sans-serif; 
    margin: 2rem; 
  }
  #circle-shape-example p { 
    line-height: 1.8; 
  }
  #circle-shape-example .curve { 
    width: 200px;
  height: 200px;
    min-width: 150px;
    float: left;
    margin-right:2rem; 
    border-radius: 50%;
    -webkit-shape-outside:circle();
    shape-outside:circle();

  }